In [1]:
import pandas as pd
import seaborn as sns
from sklearn.cluster import KMeans #The k-means algorithm
import matplotlib.pyplot as plt

Each row is a user (Row 1 = User #1)
Each column is a joke (Column 1 = Joke #1)
Ratings are given as real values from -10.00 to +10.00
99 corresponds to a null rating
As of May 2009, the jokes 7, 8, 13, 15, 16, 17, 18, 19 are the "gauge set

In [2]:
ratings = pd.read_csv ("jester.csv", header = None)
]ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,62,99,99,99,99,0.21875,99,-9.28125,-9.28125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
1,34,99,99,99,99,-9.68750,99,9.93750,9.53125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
2,18,99,99,99,99,-9.84375,99,-9.84375,-7.21875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
3,82,99,99,99,99,6.90625,99,4.75000,-5.90625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
4,27,99,99,99,99,-0.03125,99,-9.09375,-0.40625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0

In [3]:
colname =["joke"]
jokes = pd.read_csv("jokes.txt", delimiter = "\t", names=colname, header=None)
jokes.head()
# you can n use the with open arguemnt to open in python , then parse to pandas

                                                 joke
1:  A man visits the doctor. The doctor says, "I h...
2:  This couple had an excellent relationship goin...
3:  Q. What's 200 feet long and has 4 teeth? A. Th...
4:  Q. What's the difference between a man and a t...
5:  Q. What's O. J. Simpson's web address? A. Slas...

In [7]:
#replace 99 and 99.0 with null values
ratings = ratings.replace(99, 0)  #replacing with 0 is not the best system since 0 itself is a valid ratings value
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,62,0,0,0,0,0.21875,0,-9.28125,-9.28125,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34,0,0,0,0,-9.68750,0,9.93750,9.53125,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,18,0,0,0,0,-9.84375,0,-9.84375,-7.21875,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,82,0,0,0,0,6.90625,0,4.75000,-5.90625,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27,0,0,0,0,-0.03125,0,-9.09375,-0.40625,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
jokes.info()
# figure out the indexing problems
# merge the datasets... remember that each column is a joke so merge accrodingly with in of number given to joke
# create a subset of the ratings matrix containing the gauge set items (jokes 7, 8, 13, 15, 16, 17, 18, 19 )
# split into training and test data?
# use k-means clustering
# the collaborative filtering

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 1: to 149:
Data columns (total 1 columns):
joke    149 non-null object
dtypes: object(1)
memory usage: 2.3+ KB

In [9]:
ratings[0]

0         62
1         34
2         18
3         82
4         27
5         46
6          0
7         15
8        104
9         24
10        16
11        91
12        15
13       109
14        42
15        36
16        16
17        77
18        31
19        16
20       110
21        16
22        16
23        20
24        27
25       108
26        26
27        15
28        80
29       103
        ...
50662      9
50663     14
50664     19
50665     31
50666      8
50667      8
50668      8
50669     22
50670     26
50671      8
50672     32
50673     25
50674     12
50675    105
50676      8
50677     68
50678    128
50679    128
50680     32
50681     17
50682     21
50683     25
50684     18
50685     19
50686      8
50687     15
50688     12
50689     14
50690     29
50691     19
Name: 0, Length: 50692, dtype: int64