In [1]:
# The purpose of this script is to transform raw data to 
# the format expected by Aequitas.
#
# SOURCE: Kaggle
# Webpage: http://www1.nyc.gov/site/nypd/stats/reports-analysis/stopfrisk.page
# FiveThirtyEight Comic Characters Dataset

import pandas as pd
df = pd.read_csv('marvel-wikia-data.csv')

df.head(3)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0

In [2]:
df.HAIR.value_counts()

Black Hair               3755
Brown Hair               2339
Blond Hair               1582
No Hair                  1176
Bald                      838
White Hair                754
Red Hair                  620
Grey Hair                 531
Green Hair                117
Auburn Hair                78
Blue Hair                  56
Strawberry Blond Hair      47
Purple Hair                47
Orange Hair                43
Variable Hair              32
Pink Hair                  31
Yellow Hair                20
Silver Hair                16
Gold Hair                   8
Reddish Blond Hair          6
Light Brown Hair            6
Magenta Hair                5
Orange-brown Hair           3
Bronze Hair                 1
Dyed Hair                   1
Name: HAIR, dtype: int64

In [3]:
df.EYE.value_counts()

Blue Eyes          1962
Brown Eyes         1924
Green Eyes          613
Black Eyes          555
Red Eyes            508
White Eyes          400
Yellow Eyes         256
Grey Eyes            95
Hazel Eyes           76
Variable Eyes        49
Purple Eyes          31
Orange Eyes          25
Pink Eyes            21
One Eye              21
Gold Eyes            14
Silver Eyes          12
Violet Eyes          11
Amber Eyes           10
No Eyes               7
Multiple Eyes         7
Yellow Eyeballs       6
Black Eyeballs        3
Magenta Eyes          2
Compound Eyes         1
Name: EYE, dtype: int64

In [4]:
# rename for tool
df = df.rename(columns={'HAIR':'hair', 'SEX':'sex'})

In [5]:
df.head(3)

,page_id,name,urlslug,ID,ALIGN,EYE,hair,sex,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0

In [6]:
# looking at wether the character is likely to be good in male with blue eyes
# We define a true positive as discovering a weapon and a false positive no discovering a weapon

df.loc[df['ALIGN'] == 'Good Characters', 'label_value'] = str(0.0)
df.loc[df['ALIGN'] == 'Neutral Characters', 'label_value'] = str(0.0)
df.loc[df['ALIGN'] == 'Bad Characters', 'label_value'] = str(1.0)

In [7]:
# Note the data do not observe negatives so all 'predictions' are positive
df['score']  = 1.0
#df.loc[df['FRISKED_FLAG'] == 'N', 'score'] = 0
#df.loc[df['FRISKED_FLAG'] == 'Y', 'score'] = 1


df = df.query('sex == "Male Characters" | sex == "Female Characters"').query('EYE != "MALE" & EYE != "(null)"')

df = df[['score', 'label_value', 'EYE', 'sex']]

In [8]:

df.to_csv('marvel-wikia-data-aequitas.csv', index=False)