In [116]:
import pandas as pd
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

In [117]:
train = pd.read_csv('conversation.csv', error_bad_lines=False, sep = ";")
train

,transcription,speaker,timestamp
0,Hi,Marit den Blanken,NaN
1,"Hello and welcome, please take a seat",Bram van Vliet,NaN
2,What is your name?,Bram van Vliet,NaN
3,Marit den Blanken,Marit den Blanken,NaN
4,"Alright, let me open your file",Bram van Vliet,NaN
5,Yes I have it here. I can see that you handed ...,Bram van Vliet,NaN
6,I really wanted to attend the matching day tod...,Marit den Blanken,NaN
7,Great! Do you know what this conversation is g...,Bram van Vliet,NaN
8,During a meeting earlier today they told us th...,Marit den Blanken,NaN
9,That is correct. First I need to notify you th...,Bram van Vliet,NaN
10,Do you give permission to record this conversa...,Bram van Vliet,NaN
11,Yes that is fine,Marit den Blanken,NaN

#### Focus only on the prospective student

In [118]:
train = train.loc[train['speaker'] == "Marit den Blanken"]
train

,transcription,speaker,timestamp
0,Hi,Marit den Blanken,NaN
3,Marit den Blanken,Marit den Blanken,NaN
6,I really wanted to attend the matching day tod...,Marit den Blanken,NaN
8,During a meeting earlier today they told us th...,Marit den Blanken,NaN
11,Yes that is fine,Marit den Blanken,NaN

#### Remove stopwords

In [119]:
stop = stopwords.words('english')
train['transcription'] = train['transcription'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['transcription'].head()

/Users/alexgaasenbeek/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0                                                    Hi
3                                     Marit den Blanken
6     I really wanted attend matching day today, I m...
8     During meeting earlier today told us outcome i...
11                                             Yes fine
Name: transcription, dtype: object

#### Word count

In [120]:
wordcount = pd.Series(' '.join(train['transcription']).split()).value_counts()[:10]
wordcount

I          3
meeting    1
fine       1
made       1
Blanken    1
time       1
Marit      1
wanted     1
earlier    1
really     1
dtype: int64

#### Tokenization

In [121]:
tokenization = TextBlob(train['transcription'][1]).words
tokenization

KeyError: 1

#### Lemmatization

In [122]:
lemmetization = train['transcription'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
lemmetization = train['transcription']
train['transcription'].head()

0                                                    Hi
3                                     Marit den Blanken
6     I really wanted attend matching day today, I m...
8     During meeting earlier today told us outcome i...
11                                             Yes fine
Name: transcription, dtype: object

#### N-grams

In [123]:
ngrams = TextBlob(train['transcription'][0]).ngrams(2)
ngrams

[]

#### Sentiment analysis

In [124]:
train['sentiment'] = train['transcription'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['transcription','sentiment']].head()

/Users/alexgaasenbeek/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                                        transcription  sentiment
0                                                  Hi   0.000000
3                                   Marit den Blanken   0.000000
6   I really wanted attend matching day today, I m...   0.350000
8   During meeting earlier today told us outcome i...   0.350000
11                                           Yes fine   0.416667