In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
#load funda data, correct for price outliers and display first 5 rows
funda = pd.read_csv("funda-amsterdam.csv", encoding="utf-8")
funda_corr = funda[funda["price"] > 100000]
funda_corr.head()

,Unnamed: 0,address,area,bedrooms,postal_code,posting_date,price,property_type,rooms,sale_date,url,year_built
0,0,Knollendamstraat 4 III/IV,108,2,1013 TN,4-6-2016,510000,apartment,3,23-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906
1,1,Moerdijkstraat 47 1,47,1,1079 XM,22-6-2016,215000,apartment,2,5-7-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1938
2,2,Zeeburgerdijk 349,116,2,1095 AD,9-6-2016,325000,apartment,3,8-7-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,2003
3,3,Brederodestraat 124 -1,58,2,1054 VH,14-5-2016,315000,apartment,3,2-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1910
4,4,Admiraal De Ruijterweg 409 III,63,1,1055 MD,14-6-2016,200000,apartment,3,23-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906

In [5]:
funda_sub = funda_corr[['area',"bedrooms", "price", "property_type", "address"]]
funda_sub.head()

   area  bedrooms   price property_type                         address
0   108         2  510000     apartment       Knollendamstraat 4 III/IV
1    47         1  215000     apartment             Moerdijkstraat 47 1
2   116         2  325000     apartment               Zeeburgerdijk 349
3    58         2  315000     apartment          Brederodestraat 124 -1
4    63         1  200000     apartment  Admiraal De Ruijterweg 409 III

In [13]:
funda_sub[['apartment',' house']] =pd.get_dummies(funda_sub["property_type"])
funda_sub
#funda_sub["property_type"].head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,area,bedrooms,price,property_type,address,apartment,house
0,108,2,510000,apartment,Knollendamstraat 4 III/IV,1,0
1,47,1,215000,apartment,Moerdijkstraat 47 1,1,0
2,116,2,325000,apartment,Zeeburgerdijk 349,1,0
3,58,2,315000,apartment,Brederodestraat 124 -1,1,0
4,63,1,200000,apartment,Admiraal De Ruijterweg 409 III,1,0
5,125,2,515000,apartment,Bertrand Russellstraat 46,1,0
6,64,3,200000,apartment,Admiraal De Ruijterweg 417 I,1,0
7,155,3,599000,apartment,Deltastraat 10 -boven,1,0
8,85,2,249000,apartment,Ben van Meerendonkstraat 49,1,0
9,67,2,300000,apartment,Jacob van Lennepstraat 263 B,1,0
10,100,3,445000,house,Spaarndammerdijk 581,0,1
11,43,1,179000,apartment,Van Reigersbergenstraat 47 II,1,0
12,49,2,200000,apartment,Bestevâerstraat 193 I,1,0
13,65,2,339000,apartment,Tweede Boerhaavestraat 70 III,1,0
14,46,2,200000,apartment,Bestevâerstraat 158 II,1,0
15,74,2,375000,apartment,Haarlemmerplein 24 -B,1,0
16,130,3,665000,apartment,Minervalaan 69 II,1,0
17,58,2,289000,apartment,Domselaerstraat 21 II,1,0
18,66,3,300000,apartment,Abbenesstraat 10 II,1,0
19,59,3,225000,apartment,Gibraltarstraat 32 -1,1,0
20,70,1,125000,apartment,Leksmondhof 194,1,0
21,114,3,234500,house,Slichtenhorststraat 10,0,1
22,112,3,219000,house,Isabella Richaardsstraat 46,0,1
23,90,2,535000,apartment,Eerste Jan van der Heijdenstraat 34 a,1,0
24,147,6,295000,house,Cornelis van Alkemadestraat 21,0,1
25,107,3,260000,apartment,Van Suchtelen van de Haarestraat 28 K,1,0
26,24,1,170000,apartment,Albert Cuypstraat 101 4a,1,0
27,127,3,825000,apartment,Rustenburgerstraat 298 hs,1,0
28,112,2,950000,apartment,Keizersgracht 32 E,1,0
29,112,2,825000,apartment,Keizersgracht 32 E*,1,0
...,...,...,...,...,...,...,...
11413,170,4,595000,apartment,Admiralengracht 111 E,1,0
11414,72,2,325000,apartment,Amstelveenseweg 192 I,1,0
11415,60,1,195000,apartment,Nachtwachtlaan 119 +P,1,0
11416,45,2,219000,apartment,Von Guerickestraat 95 hs,1,0
11417,48,1,209000,apartment,Linnaeusstraat 112 -1,1,0
11418,57,1,192500,apartment,Reinwardtstraat 63 -A,1,0
11419,95,2,249000,house,Lange Vonder 58,0,1
11420,83,2,235000,apartment,Andries Copierstraat 106,1,0
11421,140,4,595000,house,Borneokade 201,0,1
11422,70,2,132000,apartment,Leksmondhof 69,1,0
11423,89,2,189000,house,Harry Koningsbergerstraat 6,0,1
11424,85,3,325000,apartment,Postjeskade 167 III,1,0
11425,96,2,489500,apartment,Amazonenstraat 15 3,1,0
11426,80,2,189000,apartment,Rijswijkstraat 75,1,0
11427,40,1,140000,apartment,De Wittenstraat 53 A,1,0
11428,51,2,169000,house,Distelvoorstraat 22,0,1
11429,100,1,479000,apartment,Prinseneiland 465,1,0
11430,132,3,359500,house,Adrianus van Waertweg 10,0,1
11431,76,3,185000,house,Hoornsestraat 36,0,1
11432,62,2,299000,apartment,Tweede Egelantiersdwarsstraat 24 II,1,0
11433,100,3,235000,apartment,Laan van Vlaanderen 142,1,0
11434,74,1,525000,apartment,Herengracht 251 -B,1,0
11435,76,2,185000,apartment,Faas Wilkesstraat 493,1,0
11436,54,1,225000,apartment,Vogelenzangstraat 56 -I,1,0
11437,51,1,225000,apartment,Warmondstraat 189 -II,1,0
11438,113,3,599000,apartment,Olympiaplein 83 -III,1,0
11439,88,2,399000,apartment,Anjeliersstraat 20,1,0
11440,77,2,399000,apartment,Rustenburgerstraat 389 I,1,0
11441,90,3,259000,apartment,Doggersbankstraat 12 II,1,0
11442,54,2,165000,apartment,Anna van Burenstraat 24 2,1,0

In [ ]:
y = funda_sub['price'] #we want to predeict price, it is our dependent variable
X = funda_sub[["area","bedrooms", "property_type"]]
#X = df.loc[:,'action':'metascore'] #this slices the dataframe to include all rows and the columns from "action" to "metascore"
X.index = funda_sub['address'] 
X.head()